__pycache__/
weakDetector.egg-info/
build/
dist/
experiments/experiment_VAE/train_vae/run_outputs/
experiments/experiment_VAE/train_vae/run_outputs_old/
#experiments/experiment_VAE/run_outputs/
experiments/experiment_HandcraftedFeatures/run_outputs/
debug.ipynb
